Beaker
CherryPy
Click
Jinja2
Mako
MarkupSafe
Parsley
Paste
PyNaCl
PyYAML
Tempita
ansible
ansible-cmdb>=1.31
ansible-runner>=2.3.1
ansible_builder
argcomplete
asn1crypto
attrs
awscli>=1.32.43
awxkit>=23.0.0
backports.ssl_match_hostname
bcrypt
bindep
boto3
botocore
cached_property
cachetools
certifi
cffi
chardet
charset_normalizer
colorama
cryptography
distro
dnspython
docker
#docker_compose>=1.29.1
docker_pycreds
dockerpty
docopt
enum34
eventlet
future
git+https://github.com/ansible/ansible-sign
google_auth
greenlet
#hpOneView
#hpe3par_sdk
idna
importlib_metadata
ipaddress
jmespath
jsonschema
kubernetes
ldap3
lxml
monotonic
ncclient
netaddr
oauthlib
packaging
paramiko
passlib
pbr
pexpect>=4.5
pip
pyOpenSSL>=23.2.0
pyasn1
pyasn1_modules
pycparser
pykerberos
pyparsing
pypsrp[kerberos,credssp]
pyrsistent
python-daemon
#python-ldap
#python_3parclient
python_dateutil
pywinrm[kerberos,credssp]
pyyaml
requests
requests_oauthlib
requirements_parser
resolvelib<0.9.0,>=0.5.3
rsa
selinux
setuptools
six
stormssh
texttable
toml
types_setuptools
urllib3
websocket_client
zipp